html, body {
  margin: 0;
  height: 100%;
}

table {
  width: 100%;
  height: 100vh;
  border-collapse: collapse;
}

td {
  width: 50%;
  text-align: center;
  font-size: 2vw;
}

.left {
  background-color: lightblue;
}

.right {
  background-color: lightgreen;
}
